@use "./variables" as *;
@use "./components";

.auth {
  min-height: 100vh;
  display: grid;
  place-items: center;
  padding: 16px;

  &__card {
    width: 100%;
    max-width: 460px;
    background: $card;
    border-radius: $radius;
    box-shadow: $shadow;
    padding: 22px;
    border: 1px solid $border;
  }

  &__title {
    margin: 0 0 14px;
    font-size: 22px;
  }

  &__footer {
    margin-top: 14px;
    font-size: 13px;
    color: $muted;
  }
}
